<!--<p>homepage works!</p>
{{variable}}-->

<div style="padding: 10px;">
    <p-button label="Add" icon="pi pi-plus" iconPos="left" onclick=""></p-button>
    <p-dropdown [options]="drug_names" placeholder="Enter RX Here" [editable]="true" optionLabel="name"></p-dropdown>
</div>

<div>
    <p-table [value]="drug_names">
        <ng-template pTemplate="header">
            <tr>
                <th>RX</th>
                <th>Price</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-drug>
            <tr>
                <td>{{ drug.name }}</td>
                <td>{{ drug.price }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>